#!/bin/sh
YUM_PACKAGES=(
{% for package in yum_packages %}
  {{ package.name }}
{% endfor %}
)

rm -rf {{ host_download_path }}
mkdir -p {{ host_download_path }}

# Extra Packages for Enterprise Linux

yum-config-manager --enable ol7_ceph ol7_latest ol7_optional_latest ol7_addons ol7_software_collections
yum-config-manager --add-repo https://download.docker.com/linux/centos/docker-ce.repo

echo "[centos-extras]" >> /etc/yum.repos.d/docker-ce.repo
echo "name=Centos extras - $basearch" >> /etc/yum.repos.d/docker-ce.repo
echo "baseurl=http://mirror.centos.org/centos/7/extras/x86_64" >> /etc/yum.repos.d/docker-ce.repo
echo "enabled=1" >> /etc/yum.repos.d/docker-ce.repo
echo "gpgcheck=1" >> /etc/yum.repos.d/docker-ce.repo
echo "gpgkey=http://centos.org/keys/RPM-GPG-KEY-CentOS-7" >> /etc/yum.repos.d/docker-ce.repo

yum makecache fast
for package in ${YUM_PACKAGES[@]}
do
  yum --downloadonly --releasever=7 --installroot={{ host_download_path }} --downloaddir={{ host_download_path }} install -y $package
done

yum install -y createrepo
createrepo --simple-md-filenames {{ host_download_path }}