#!/bin/sh
# {{ ansible_managed }}

source /home/{{ oracle_user }}/.bash_profile
export ORACLE_SID={{ item.gdbName }}

sqlplus / as sysdba <<EOT
startup;
CREATE TABLESPACE {{ item.gdbName }} DATAFILE '{{ oracle_data_area }}/{{ item.gdbName }}/{{ item.gdbName }}_DATATABLE.dbf' SIZE 100M AUTOEXTEND ON;
CREATE USER {{ oracle_db_user.user_name }} IDENTIFIED BY {{ oracle_db_user.user_password }} QUOTA UNLIMITED ON {{ item.gdbName }};
GRANT CREATE SESSION TO {{ oracle_db_user.user_name }};
GRANT RESOURCE TO {{ oracle_db_user.user_name }};
GRANT DATAPUMP_EXP_FULL_DATABASE TO {{ oracle_db_user.user_name }};
GRANT DATAPUMP_IMP_FULL_DATABASE TO {{ oracle_db_user.user_name }};
ALTER PROFILE DEFAULT LIMIT PASSWORD_LIFE_TIME UNLIMITED;
shutdown immediate;
exit;
EOT